In [5]:
# to create a database first import sqlite3
import sqlite3

In [6]:
connection=sqlite3.connect('example.db') #this is a database file created named example.db
connection

In [7]:
# now we need a cursor to traverse through rows
cursor=connection.cursor()

In [20]:
# execute function is used to create table and update data.
# creating table

# connection is used in saving closing and commiting the changes in database.
# cursor is used for execute() fetchall() and fetchone()
#close() → Safely closes database connection after work is done. (not compulsory)
#Use: connection.close()

#IF NOT EXISTS → Prevents error if table already exists, useful for repeated runs.
#Use: CREATE TABLE IF NOT EXISTS students (...) # sql commands are not case sensitive create table.. will also work.

#PRIMARY KEY → Makes sure each row has a unique ID, often used for identification or referencing.
#Use: id INTEGER PRIMARY KEY

cursor.execute('''
Create table if not exists employees(
    id integer primary key, 
    name text not null,
    age int,
    department text      
)
''')
# integer and int same
connection.commit() # to save inside the db.

In [21]:
# accessing the data but data is currently not present 
cursor.execute('''
 select * from employees
''')

In [22]:
# adding data using sqlite3
# this is the way to insert data in specific table
cursor.execute('''
 insert into employees(name,age,department)
    values('afraz',32,'csit')
''')

cursor.execute('''
 insert into employees(name,age,department)
    values('abdullah',25,'civil')
''')

cursor.execute('''
 insert into employees(name,age,department)
    values('ashhar',19,'cs')
''')

connection.commit()

In [24]:
cursor.execute('select * from employees')
rows=cursor.fetchall() # this is used to fetch all the rows or data

for row in rows:
    print(row)

(1, 'afraz', 32, 'csit')
(2, 'abdullah', 25, 'civil')
(3, 'ashhar', 19, 'cs')

In [25]:
# same way we can easily update the data inside the database by using some sqlite3 query syntax
# update employees
# set age=34
# where name="name of any student"
# commit
cursor.execute('''
update employees
set age=10
where name='afraz'
''')
connection.commit()

In [27]:
# now the data is changed
cursor.execute('select * from employees')
rows=cursor.fetchall() 

for row in rows:
    print(row)

(1, 'afraz', 10, 'csit')
(2, 'abdullah', 25, 'civil')
(3, 'ashhar', 19, 'cs')

In [28]:
# to delete the data from db
cursor.execute('''
  delete from employees
    where name='afraz'
''')
connection.commit()

In [30]:
# accessing the data
cursor.execute('select * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

(2, 'abdullah', 25, 'civil')
(3, 'ashhar', 19, 'cs')

In [2]:
# small dataset testing
# sqlite3 is a filebased database with no server and is lite database
# sql own server is buit and works for large data and multiple users.
import sqlite3
connection1=sqlite3.connect('sales_data.db') #file created
cursor1=connection1.cursor()
cursor1.execute('''
create table if not exists sales(
                    id integer primary key,
                    date int not null,
                    product text not null,
                    sales int not null,
                    region text

)
''')

In [3]:
# inorder to commit large data at once without typing code again and again. use cursor1.executemany()
data=[
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]
# whole data commited with below syntax at once.
cursor1.executemany('''
  insert into sales(date,product,sales,region)
                    values(?,?,?,?)

''',data)
connection1.commit()

In [4]:
cursor1.execute('select * from sales')
rows=cursor1.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [5]:
connection1.close()

In [6]:
# now if you try to commint or change it is not possible