This is data manupilation

In [1]:
import pandas as pd
data=pd.read_csv('data.csv')
data

          Date Category  Value   Product  Sales Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    NaN   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    NaN  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    NaN  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    NaN  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    NaN   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    NaN   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    NaN  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [3]:
data.head(5) # will print the head first 5 rows

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North

In [4]:
data.tail(5) # will print the tail last 5 rows

          Date Category  Value   Product  Sales Region
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [6]:
data.dtypes # data types

Date         object
Category     object
Value       float64
Product      object
Sales       float64
Region       object
dtype: object

In [ ]:
# but when reading from file there is chances weather there is a missing value or not.
# so how to check weather there are missing values or not
# .isnull method will tell you with a true keyword that here is the missing value
# and if the value is present in the block there will be false
data.isnull()

     Date  Category  Value  Product  Sales  Region
0   False     False  False    False  False   False
1   False     False  False    False  False   False
2   False     False  False    False  False   False
3   False     False  False    False  False   False
4   False     False  False    False  False   False
5   False     False  False    False  False   False
6   False     False  False    False  False   False
7   False     False  False    False  False   False
8   False     False  False    False  False   False
9   False     False  False    False  False   False
10  False     False  False    False  False   False
11  False     False  False    False   True   False
12  False     False  False    False  False   False
13  False     False  False    False  False   False
14  False     False  False    False  False   False
15  False     False   True    False  False   False
16  False     False  False    False  False   False
17  False     False   True    False  False   False
18  False     False  False    False  False   False
19  False     False  False    False  False   False
20  False     False  False    False  False   False
21  False     False  False    False  False   False
22  False     False  False    False  False   False
23  False     False  False    False  False   False
24  False     False  False    False  False   False
25  False     False  False    False  False   False
26  False     False  False    False  False   False
27  False     False  False    False  False   False
28  False     False   True    False  False   False
29  False     False  False    False  False   False
30  False     False  False    False  False   False
31  False     False  False    False  False   False
32  False     False  False    False  False   False
33  False     False  False    False   True   False
34  False     False  False    False  False   False
35  False     False  False    False   True   False
36  False     False  False    False  False   False
37  False     False  False    False   True   False
38  False     False  False    False  False   False
39  False     False  False    False  False   False
40  False     False  False    False  False   False
41  False     False  False    False  False   False
42  False     False  False    False  False   False
43  False     False  False    False  False   False
44  False     False  False    False  False   False
45  False     False  False    False  False   False
46  False     False  False    False  False   False
47  False     False  False    False  False   False
48  False     False  False    False  False   False
49  False     False  False    False  False   False

In [13]:
#however it is hard to find the true 
# there are different ways to see like
# .isnull().sum() this whole function will sum the missing value specific to each column 
data.isnull().sum()

Date        0
Category    0
Value       3
Product     0
Sales       4
Region      0
dtype: int64

In [ ]:
data.isnull().any() # .isnull().any() will show which column has the missing values by showing true keyword on the same column
# this is usefill .isnull().any() as it tells you which column has the missing values.
# later you can use that column name and fill missing ones with other value

Date        False
Category    False
Value        True
Product     False
Sales        True
Region      False
dtype: bool

In [ ]:
# to fill those missing spaces rather with zero or the mean of that whole coloumn.
# we adding another column with missing blocks filled with whole block mean value.
#data['Value'] means this value column fillna with data['value].mean(). mean whole value column. 
# and you can see value column where there is NAN means in value_filledna in the same line there will be missing box filled with value column mean.
data["value_filledna"]=data['Value'].fillna(data['Value'].mean())

In [18]:
data

          Date Category  Value   Product  Sales Region  value_filledna
0   2023-01-01        A   28.0  Product1  754.0   East       28.000000
1   2023-01-02        B   39.0  Product3  110.0  North       39.000000
2   2023-01-03        C   32.0  Product2  398.0   East       32.000000
3   2023-01-04        B    8.0  Product1  522.0   East        8.000000
4   2023-01-05        B   26.0  Product3  869.0  North       26.000000
5   2023-01-06        B   54.0  Product3  192.0   West       54.000000
6   2023-01-07        A   16.0  Product1  936.0   East       16.000000
7   2023-01-08        C   89.0  Product1  488.0   West       89.000000
8   2023-01-09        C   37.0  Product3  772.0   West       37.000000
9   2023-01-10        A   22.0  Product2  834.0   West       22.000000
10  2023-01-11        B    7.0  Product1  842.0  North        7.000000
11  2023-01-12        B   60.0  Product2    NaN   West       60.000000
12  2023-01-13        A   70.0  Product3  628.0  South       70.000000
13  2023-01-14        A   69.0  Product1  423.0   East       69.000000
14  2023-01-15        A   47.0  Product2  893.0   West       47.000000
15  2023-01-16        C    NaN  Product1  895.0  North       51.744681
16  2023-01-17        C   93.0  Product2  511.0  South       93.000000
17  2023-01-18        C    NaN  Product1  108.0   West       51.744681
18  2023-01-19        A   31.0  Product2  578.0   West       31.000000
19  2023-01-20        A   59.0  Product1  736.0   East       59.000000
20  2023-01-21        C   82.0  Product3  606.0  South       82.000000
21  2023-01-22        C   37.0  Product2  992.0  South       37.000000
22  2023-01-23        B   62.0  Product3  942.0  North       62.000000
23  2023-01-24        C   92.0  Product2  342.0   West       92.000000
24  2023-01-25        A   24.0  Product2  458.0   East       24.000000
25  2023-01-26        C   95.0  Product1  584.0   West       95.000000
26  2023-01-27        C   71.0  Product2  619.0  North       71.000000
27  2023-01-28        C   56.0  Product2  224.0  North       56.000000
28  2023-01-29        B    NaN  Product3  617.0  North       51.744681
29  2023-01-30        C   51.0  Product2  737.0  South       51.000000
30  2023-01-31        B   50.0  Product3  735.0   West       50.000000
31  2023-02-01        A   17.0  Product2  189.0   West       17.000000
32  2023-02-02        B   63.0  Product3  338.0  South       63.000000
33  2023-02-03        C   27.0  Product3    NaN   East       27.000000
34  2023-02-04        C   70.0  Product3  669.0   West       70.000000
35  2023-02-05        B   60.0  Product2    NaN   West       60.000000
36  2023-02-06        C   36.0  Product3  177.0   East       36.000000
37  2023-02-07        C    2.0  Product1    NaN  North        2.000000
38  2023-02-08        C   94.0  Product1  408.0  South       94.000000
39  2023-02-09        A   62.0  Product1  155.0   West       62.000000
40  2023-02-10        B   15.0  Product1  578.0   East       15.000000
41  2023-02-11        C   97.0  Product1  256.0   East       97.000000
42  2023-02-12        A   93.0  Product3  164.0   West       93.000000
43  2023-02-13        A   43.0  Product3  949.0   East       43.000000
44  2023-02-14        A   96.0  Product3  830.0   East       96.000000
45  2023-02-15        B   99.0  Product2  599.0   West       99.000000
46  2023-02-16        B    6.0  Product1  938.0  South        6.000000
47  2023-02-17        B   69.0  Product3  143.0   West       69.000000
48  2023-02-18        C   65.0  Product3  182.0  North       65.000000
49  2023-02-19        C   11.0  Product3  708.0  North       11.000000

In [ ]:
data['Sales_filledna']=data['Sales'].fillna(data['Sales'].mean())
# and you can see sales column where there is NAN means in sales_filledna in the same line there will be missing box filled with sales column mean.

In [20]:
data

,Date,Category,Value,Product,Sales,Region,value_filledna,Sales_filledna
0,2023-01-01,A,28.0,Product1,754.0,East,28.000000,754.000000
1,2023-01-02,B,39.0,Product3,110.0,North,39.000000,110.000000
2,2023-01-03,C,32.0,Product2,398.0,East,32.000000,398.000000
3,2023-01-04,B,8.0,Product1,522.0,East,8.000000,522.000000
4,2023-01-05,B,26.0,Product3,869.0,North,26.000000,869.000000
5,2023-01-06,B,54.0,Product3,192.0,West,54.000000,192.000000
6,2023-01-07,A,16.0,Product1,936.0,East,16.000000,936.000000
7,2023-01-08,C,89.0,Product1,488.0,West,89.000000,488.000000
8,2023-01-09,C,37.0,Product3,772.0,West,37.000000,772.000000
9,2023-01-10,A,22.0,Product2,834.0,West,22.000000,834.000000
10,2023-01-11,B,7.0,Product1,842.0,North,7.000000,842.000000
11,2023-01-12,B,60.0,Product2,NaN,West,60.000000,557.130435
12,2023-01-13,A,70.0,Product3,628.0,South,70.000000,628.000000
13,2023-01-14,A,69.0,Product1,423.0,East,69.000000,423.000000
14,2023-01-15,A,47.0,Product2,893.0,West,47.000000,893.000000
15,2023-01-16,C,NaN,Product1,895.0,North,51.744681,895.000000
16,2023-01-17,C,93.0,Product2,511.0,South,93.000000,511.000000
17,2023-01-18,C,NaN,Product1,108.0,West,51.744681,108.000000
18,2023-01-19,A,31.0,Product2,578.0,West,31.000000,578.000000
19,2023-01-20,A,59.0,Product1,736.0,East,59.000000,736.000000
20,2023-01-21,C,82.0,Product3,606.0,South,82.000000,606.000000
21,2023-01-22,C,37.0,Product2,992.0,South,37.000000,992.000000
22,2023-01-23,B,62.0,Product3,942.0,North,62.000000,942.000000
23,2023-01-24,C,92.0,Product2,342.0,West,92.000000,342.000000
24,2023-01-25,A,24.0,Product2,458.0,East,24.000000,458.000000
25,2023-01-26,C,95.0,Product1,584.0,West,95.000000,584.000000
26,2023-01-27,C,71.0,Product2,619.0,North,71.000000,619.000000
27,2023-01-28,C,56.0,Product2,224.0,North,56.000000,224.000000
28,2023-01-29,B,NaN,Product3,617.0,North,51.744681,617.000000
29,2023-01-30,C,51.0,Product2,737.0,South,51.000000,737.000000
30,2023-01-31,B,50.0,Product3,735.0,West,50.000000,735.000000
31,2023-02-01,A,17.0,Product2,189.0,West,17.000000,189.000000
32,2023-02-02,B,63.0,Product3,338.0,South,63.000000,338.000000
33,2023-02-03,C,27.0,Product3,NaN,East,27.000000,557.130435
34,2023-02-04,C,70.0,Product3,669.0,West,70.000000,669.000000
35,2023-02-05,B,60.0,Product2,NaN,West,60.000000,557.130435
36,2023-02-06,C,36.0,Product3,177.0,East,36.000000,177.000000
37,2023-02-07,C,2.0,Product1,NaN,North,2.000000,557.130435
38,2023-02-08,C,94.0,Product1,408.0,South,94.000000,408.000000
39,2023-02-09,A,62.0,Product1,155.0,West,62.000000,155.000000
40,2023-02-10,B,15.0,Product1,578.0,East,15.000000,578.000000
41,2023-02-11,C,97.0,Product1,256.0,East,97.000000,256.000000
42,2023-02-12,A,93.0,Product3,164.0,West,93.000000,164.000000
43,2023-02-13,A,43.0,Product3,949.0,East,43.000000,949.000000
44,2023-02-14,A,96.0,Product3,830.0,East,96.000000,830.000000
45,2023-02-15,B,99.0,Product2,599.0,West,99.000000,599.000000
46,2023-02-16,B,6.0,Product1,938.0,South,6.000000,938.000000
47,2023-02-17,B,69.0,Product3,143.0,West,69.000000,143.000000
48,2023-02-18,C,65.0,Product3,182.0,North,65.000000,182.000000
49,2023-02-19,C,11.0,Product3,708.0,North,11.000000,708.000000

In [26]:
# so now removing sales and value column as we have added corrected ones
data.drop('Value',axis=1,inplace=True) # as we removing column we need to add axis =1 so that whole column will be removed.
data.drop('Sales',axis=1,inplace=True) # as we removing column we need to add axis =1 so that whole column will be removed.

In [ ]:
data # :) successfully removed.

    Sales_data Category   Product Region  value_filledna  Sales_filledna
0   2023-01-01        A  Product1   East       28.000000      754.000000
1   2023-01-02        B  Product3  North       39.000000      110.000000
2   2023-01-03        C  Product2   East       32.000000      398.000000
3   2023-01-04        B  Product1   East        8.000000      522.000000
4   2023-01-05        B  Product3  North       26.000000      869.000000
5   2023-01-06        B  Product3   West       54.000000      192.000000
6   2023-01-07        A  Product1   East       16.000000      936.000000
7   2023-01-08        C  Product1   West       89.000000      488.000000
8   2023-01-09        C  Product3   West       37.000000      772.000000
9   2023-01-10        A  Product2   West       22.000000      834.000000
10  2023-01-11        B  Product1  North        7.000000      842.000000
11  2023-01-12        B  Product2   West       60.000000      557.130435
12  2023-01-13        A  Product3  South       70.000000      628.000000
13  2023-01-14        A  Product1   East       69.000000      423.000000
14  2023-01-15        A  Product2   West       47.000000      893.000000
15  2023-01-16        C  Product1  North       51.744681      895.000000
16  2023-01-17        C  Product2  South       93.000000      511.000000
17  2023-01-18        C  Product1   West       51.744681      108.000000
18  2023-01-19        A  Product2   West       31.000000      578.000000
19  2023-01-20        A  Product1   East       59.000000      736.000000
20  2023-01-21        C  Product3  South       82.000000      606.000000
21  2023-01-22        C  Product2  South       37.000000      992.000000
22  2023-01-23        B  Product3  North       62.000000      942.000000
23  2023-01-24        C  Product2   West       92.000000      342.000000
24  2023-01-25        A  Product2   East       24.000000      458.000000
25  2023-01-26        C  Product1   West       95.000000      584.000000
26  2023-01-27        C  Product2  North       71.000000      619.000000
27  2023-01-28        C  Product2  North       56.000000      224.000000
28  2023-01-29        B  Product3  North       51.744681      617.000000
29  2023-01-30        C  Product2  South       51.000000      737.000000
30  2023-01-31        B  Product3   West       50.000000      735.000000
31  2023-02-01        A  Product2   West       17.000000      189.000000
32  2023-02-02        B  Product3  South       63.000000      338.000000
33  2023-02-03        C  Product3   East       27.000000      557.130435
34  2023-02-04        C  Product3   West       70.000000      669.000000
35  2023-02-05        B  Product2   West       60.000000      557.130435
36  2023-02-06        C  Product3   East       36.000000      177.000000
37  2023-02-07        C  Product1  North        2.000000      557.130435
38  2023-02-08        C  Product1  South       94.000000      408.000000
39  2023-02-09        A  Product1   West       62.000000      155.000000
40  2023-02-10        B  Product1   East       15.000000      578.000000
41  2023-02-11        C  Product1   East       97.000000      256.000000
42  2023-02-12        A  Product3   West       93.000000      164.000000
43  2023-02-13        A  Product3   East       43.000000      949.000000
44  2023-02-14        A  Product3   East       96.000000      830.000000
45  2023-02-15        B  Product2   West       99.000000      599.000000
46  2023-02-16        B  Product1  South        6.000000      938.000000
47  2023-02-17        B  Product3   West       69.000000      143.000000
48  2023-02-18        C  Product3  North       65.000000      182.000000
49  2023-02-19        C  Product3  North       11.000000      708.000000

In [28]:
# renaming the column name
data=data.rename(columns={'Date':'Sales_data'}) # it should be : as they are key values pairs in dict.
data

    Sales_data Category   Product Region  value_filledna  Sales_filledna
0   2023-01-01        A  Product1   East       28.000000      754.000000
1   2023-01-02        B  Product3  North       39.000000      110.000000
2   2023-01-03        C  Product2   East       32.000000      398.000000
3   2023-01-04        B  Product1   East        8.000000      522.000000
4   2023-01-05        B  Product3  North       26.000000      869.000000
5   2023-01-06        B  Product3   West       54.000000      192.000000
6   2023-01-07        A  Product1   East       16.000000      936.000000
7   2023-01-08        C  Product1   West       89.000000      488.000000
8   2023-01-09        C  Product3   West       37.000000      772.000000
9   2023-01-10        A  Product2   West       22.000000      834.000000
10  2023-01-11        B  Product1  North        7.000000      842.000000
11  2023-01-12        B  Product2   West       60.000000      557.130435
12  2023-01-13        A  Product3  South       70.000000      628.000000
13  2023-01-14        A  Product1   East       69.000000      423.000000
14  2023-01-15        A  Product2   West       47.000000      893.000000
15  2023-01-16        C  Product1  North       51.744681      895.000000
16  2023-01-17        C  Product2  South       93.000000      511.000000
17  2023-01-18        C  Product1   West       51.744681      108.000000
18  2023-01-19        A  Product2   West       31.000000      578.000000
19  2023-01-20        A  Product1   East       59.000000      736.000000
20  2023-01-21        C  Product3  South       82.000000      606.000000
21  2023-01-22        C  Product2  South       37.000000      992.000000
22  2023-01-23        B  Product3  North       62.000000      942.000000
23  2023-01-24        C  Product2   West       92.000000      342.000000
24  2023-01-25        A  Product2   East       24.000000      458.000000
25  2023-01-26        C  Product1   West       95.000000      584.000000
26  2023-01-27        C  Product2  North       71.000000      619.000000
27  2023-01-28        C  Product2  North       56.000000      224.000000
28  2023-01-29        B  Product3  North       51.744681      617.000000
29  2023-01-30        C  Product2  South       51.000000      737.000000
30  2023-01-31        B  Product3   West       50.000000      735.000000
31  2023-02-01        A  Product2   West       17.000000      189.000000
32  2023-02-02        B  Product3  South       63.000000      338.000000
33  2023-02-03        C  Product3   East       27.000000      557.130435
34  2023-02-04        C  Product3   West       70.000000      669.000000
35  2023-02-05        B  Product2   West       60.000000      557.130435
36  2023-02-06        C  Product3   East       36.000000      177.000000
37  2023-02-07        C  Product1  North        2.000000      557.130435
38  2023-02-08        C  Product1  South       94.000000      408.000000
39  2023-02-09        A  Product1   West       62.000000      155.000000
40  2023-02-10        B  Product1   East       15.000000      578.000000
41  2023-02-11        C  Product1   East       97.000000      256.000000
42  2023-02-12        A  Product3   West       93.000000      164.000000
43  2023-02-13        A  Product3   East       43.000000      949.000000
44  2023-02-14        A  Product3   East       96.000000      830.000000
45  2023-02-15        B  Product2   West       99.000000      599.000000
46  2023-02-16        B  Product1  South        6.000000      938.000000
47  2023-02-17        B  Product3   West       69.000000      143.000000
48  2023-02-18        C  Product3  North       65.000000      182.000000
49  2023-02-19        C  Product3  North       11.000000      708.000000

In [ ]:
# One more thing if we apply any operation on the value and sales columns that we removed earlier it will show error as they have missing values. so we created new ones with all missing boxes fiiled so we can use them in operations easily.
# changing data types.
# changing data types of all the values in column value_filldna
data['value_filledna']=data['value_filledna'].astype(int) # inorder to save those all changed data types in the column we must assign this operation to the column.

In [34]:
data

    Sales_data Category   Product Region  value_filledna  Sales_filledna
0   2023-01-01        A  Product1   East              28      754.000000
1   2023-01-02        B  Product3  North              39      110.000000
2   2023-01-03        C  Product2   East              32      398.000000
3   2023-01-04        B  Product1   East               8      522.000000
4   2023-01-05        B  Product3  North              26      869.000000
5   2023-01-06        B  Product3   West              54      192.000000
6   2023-01-07        A  Product1   East              16      936.000000
7   2023-01-08        C  Product1   West              89      488.000000
8   2023-01-09        C  Product3   West              37      772.000000
9   2023-01-10        A  Product2   West              22      834.000000
10  2023-01-11        B  Product1  North               7      842.000000
11  2023-01-12        B  Product2   West              60      557.130435
12  2023-01-13        A  Product3  South              70      628.000000
13  2023-01-14        A  Product1   East              69      423.000000
14  2023-01-15        A  Product2   West              47      893.000000
15  2023-01-16        C  Product1  North              51      895.000000
16  2023-01-17        C  Product2  South              93      511.000000
17  2023-01-18        C  Product1   West              51      108.000000
18  2023-01-19        A  Product2   West              31      578.000000
19  2023-01-20        A  Product1   East              59      736.000000
20  2023-01-21        C  Product3  South              82      606.000000
21  2023-01-22        C  Product2  South              37      992.000000
22  2023-01-23        B  Product3  North              62      942.000000
23  2023-01-24        C  Product2   West              92      342.000000
24  2023-01-25        A  Product2   East              24      458.000000
25  2023-01-26        C  Product1   West              95      584.000000
26  2023-01-27        C  Product2  North              71      619.000000
27  2023-01-28        C  Product2  North              56      224.000000
28  2023-01-29        B  Product3  North              51      617.000000
29  2023-01-30        C  Product2  South              51      737.000000
30  2023-01-31        B  Product3   West              50      735.000000
31  2023-02-01        A  Product2   West              17      189.000000
32  2023-02-02        B  Product3  South              63      338.000000
33  2023-02-03        C  Product3   East              27      557.130435
34  2023-02-04        C  Product3   West              70      669.000000
35  2023-02-05        B  Product2   West              60      557.130435
36  2023-02-06        C  Product3   East              36      177.000000
37  2023-02-07        C  Product1  North               2      557.130435
38  2023-02-08        C  Product1  South              94      408.000000
39  2023-02-09        A  Product1   West              62      155.000000
40  2023-02-10        B  Product1   East              15      578.000000
41  2023-02-11        C  Product1   East              97      256.000000
42  2023-02-12        A  Product3   West              93      164.000000
43  2023-02-13        A  Product3   East              43      949.000000
44  2023-02-14        A  Product3   East              96      830.000000
45  2023-02-15        B  Product2   West              99      599.000000
46  2023-02-16        B  Product1  South               6      938.000000
47  2023-02-17        B  Product3   West              69      143.000000
48  2023-02-18        C  Product3  North              65      182.000000
49  2023-02-19        C  Product3  North              11      708.000000

In [40]:
# changing values by using any function or lambda function your choice
data['value_filledna_new']=data['value_filledna'].apply(lambda x:x*2) # this apply function can be used to apply funciton to this column only.
# so we added a new column with function applied answer of value_filledna

In [41]:
data

,Sales_data,Category,Product,Region,value_filledna,Sales_filledna,value_filledna_new
0,2023-01-01,A,Product1,East,56,754.000000,112
1,2023-01-02,B,Product3,North,78,110.000000,156
2,2023-01-03,C,Product2,East,64,398.000000,128
3,2023-01-04,B,Product1,East,16,522.000000,32
4,2023-01-05,B,Product3,North,52,869.000000,104
5,2023-01-06,B,Product3,West,108,192.000000,216
6,2023-01-07,A,Product1,East,32,936.000000,64
7,2023-01-08,C,Product1,West,178,488.000000,356
8,2023-01-09,C,Product3,West,74,772.000000,148
9,2023-01-10,A,Product2,West,44,834.000000,88
10,2023-01-11,B,Product1,North,14,842.000000,28
11,2023-01-12,B,Product2,West,120,557.130435,240
12,2023-01-13,A,Product3,South,140,628.000000,280
13,2023-01-14,A,Product1,East,138,423.000000,276
14,2023-01-15,A,Product2,West,94,893.000000,188
15,2023-01-16,C,Product1,North,102,895.000000,204
16,2023-01-17,C,Product2,South,186,511.000000,372
17,2023-01-18,C,Product1,West,102,108.000000,204
18,2023-01-19,A,Product2,West,62,578.000000,124
19,2023-01-20,A,Product1,East,118,736.000000,236
20,2023-01-21,C,Product3,South,164,606.000000,328
21,2023-01-22,C,Product2,South,74,992.000000,148
22,2023-01-23,B,Product3,North,124,942.000000,248
23,2023-01-24,C,Product2,West,184,342.000000,368
24,2023-01-25,A,Product2,East,48,458.000000,96
25,2023-01-26,C,Product1,West,190,584.000000,380
26,2023-01-27,C,Product2,North,142,619.000000,284
27,2023-01-28,C,Product2,North,112,224.000000,224
28,2023-01-29,B,Product3,North,102,617.000000,204
29,2023-01-30,C,Product2,South,102,737.000000,204
30,2023-01-31,B,Product3,West,100,735.000000,200
31,2023-02-01,A,Product2,West,34,189.000000,68
32,2023-02-02,B,Product3,South,126,338.000000,252
33,2023-02-03,C,Product3,East,54,557.130435,108
34,2023-02-04,C,Product3,West,140,669.000000,280
35,2023-02-05,B,Product2,West,120,557.130435,240
36,2023-02-06,C,Product3,East,72,177.000000,144
37,2023-02-07,C,Product1,North,4,557.130435,8
38,2023-02-08,C,Product1,South,188,408.000000,376
39,2023-02-09,A,Product1,West,124,155.000000,248
40,2023-02-10,B,Product1,East,30,578.000000,60
41,2023-02-11,C,Product1,East,194,256.000000,388
42,2023-02-12,A,Product3,West,186,164.000000,372
43,2023-02-13,A,Product3,East,86,949.000000,172
44,2023-02-14,A,Product3,East,192,830.000000,384
45,2023-02-15,B,Product2,West,198,599.000000,396
46,2023-02-16,B,Product1,South,12,938.000000,24
47,2023-02-17,B,Product3,West,138,143.000000,276
48,2023-02-18,C,Product3,North,130,182.000000,260
49,2023-02-19,C,Product3,North,22,708.000000,44

In [ ]:
# aggregating : aggregating means grouping with respect to particular thing. here is columns.
data.groupby('Product')['value_filledna'].sum() # when you code like this typing product or value_filledna the IDE will not auto pick idk why.
# so what happened above is you selected a column product and grouped all the same values in product with there values in value_filledna summed them.

Product
Product1    1498
Product2    1584
Product3    2088
Name: value_filledna, dtype: int64

In [49]:
data.groupby(['Product','Region'])['value_filledna'].sum()

Product   Region
Product1  East      584
          North     120
          South     200
          West      594
Product2  East      112
          North     254
          South     362
          West      856
Product3  East      404
          North     508
          South     430
          West      746
Name: value_filledna, dtype: int64

In [53]:
ope=data.groupby('Region')['value_filledna'].agg(['sum','mean','count']) # agg is aggregation builtin method that is used for using these function like sum, mean,count.
ope

         sum        mean  count
Region
East    1100   84.615385     13
North    882   80.181818     11
South    992  124.000000      8
West    2196  122.000000     18

In [60]:
#merging dataframes
import pandas as pd
df1=pd.DataFrame({'Key':['A','B','C','D'],'Value1':[1,2,3,4]})
df2=pd.DataFrame({'Key':['A','B','C','E'],'Value2':[5,6,7,8]})

In [61]:
df1

  Key  Value1
0   A       1
1   B       2
2   C       3
3   D       4

In [62]:
df2

  Key  Value2
0   A       5
1   B       6
2   C       7
3   E       8

In [65]:
pd.merge(df1,df2,on='Key',how='inner')

  Key  Value1  Value2
0   A       1       5
1   B       2       6
2   C       3       7

In [66]:
pd.merge(df1,df2,on='Key',how='outer')

  Key  Value1  Value2
0   A     1.0     5.0
1   B     2.0     6.0
2   C     3.0     7.0
3   D     4.0     NaN
4   E     NaN     8.0

In [68]:
pd.merge(df1,df2,on='Key',how='left') # left means df1 will be given priority that all the keys of df2 will be present in df1 than it will merge or else it will elave that one

  Key  Value1  Value2
0   A       1     5.0
1   B       2     6.0
2   C       3     7.0
3   D       4     NaN

In [70]:
pd.merge(df1,df2,on='Key',how='right') # as d was not present in key of df1 so this merge didn't pick d one.

  Key  Value1  Value2
0   A     1.0       5
1   B     2.0       6
2   C     3.0       7
3   E     NaN       8